<main class="flex flex-col items-center justify-center h-screen ">
  <img src="email.png" alt="Email icon" width="20" height="20" class="w-10 h-10 mb-2">
  <h1 class="text-3xl sm:text-4xl md:text-5xl font-bold text-center mb-4 cursor-crosshair">Join our newsletter</h1>
  <p class=" w-full max-w-2xl text-center  text-balance text-gray-500 text-base sm:text-lg md:text-xl">Keep up with our
    latest collections, exclusive
    deals
    and
    special offers!<br>We introduce a new
    collection every
    week, so stay tuned to snag the hottest items just for you.</p>
  <section
    class="shadow-lg mt-8 p-6 sm:p-8 border border-gray-300 rounded-md w-full max-w-xs sm:max-w-md md:max-w-lg bg-white">
    <form class="mt-4  flex flex-col items-center w-full">
      <input type="email" placeholder="Enter your email address"
        class="w-full px-4 py-2 border text-center text-gray-500 bg-gray-100 border-gray-400 rounded-md xs:text-xs 2xs:text-2xs sm:text-sm lg:text-sm xl:text-md 2xl:text-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent transition-transform ease-in-out duration-300"
        required>
      <button type="submit"
        class=" w-full px-4 mt-4 p-2 bg-blue-700 text-white rounded-md xs:text-xs 2xs:text-2xs sm:text-sm lg:text-sm xl:text-md 2xl:text-lg cursor-pointer hover:scale-105 hover:bg-blue-500 shadow-lg shadow-blue-500/50 transition-transform ease-in-out duration-300">Subscribe
        now</button>
    </form>
    <p class="text-gray-400 text-sm text-center mt-4">Your email is 100% confidential and won't send you any spam</p>
  </section>
</main>

<!-- hacer más grande la section de el form -->