<main class="flex flex-col items-center justify-center h-screen ">
  <img src="assets/logo.png" alt="Logo" class="mb-4">
  <h1 class="text-4xl font-bold mb-4 cursor-crosshair">Join our newsletter</h1>
  <p class=" w-lg text-center  text-balance border-amber-300">Keep up with our latest collections, exclusive deals
    and
    special offers!<br>We introduce a new
    collection every
    week, so stay tuned to snag the hottest items just for you.</p>
  <section class=" shadow-xl/20  mt-8 p-8 border border-gray-300 rounded-md">
    <form class="mt-4  flex flex-col items-center">
      <input type="email" placeholder="Enter your email address"
        class="px-22 py-2 border text-center text-gray-500 bg-gray-200 border-gray-400 rounded-md" required>
      <button type="submit"
        class="  mt-4 p-2 bg-blue-700 text-white rounded-md text-sm px-42 cursor-pointer hover:scale-105 hover:bg-blue-500 shadow-lg shadow-blue-500/50 transition">Subscribe
        now</button>
    </form>
    <p class="text-gray-400 text-sm text-center mt-4">Your email is 100% confidential and won't send you any spam</p>
  </section>
</main>